body {

   margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 10px;

}

/* Body Header*/

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(images/header_background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
    
}

/*horizontal-list*/

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
}

#navigation li a {
/*    margin-top: 10%;*/
    transition: color 0.5s, border-bottom 4s;
}

#navigation li a:hover {
    color: cyan;
    border-bottom: 1px solid black;
}

.text-center {
    text-align: center;
}



/*my_name*/

#my-name {
    /*margin-top: 15vh;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: whitesmoke;
    font-weight: 700;
    margin-bottom: 0.5rem;*/

    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/*icon*/

#icon {
    text-align: center;
    border-radius: 50%;

}

#linkedin{
    margin-right: 1vw;

}

#icon a img:hover{
    box-shadow: 0px 0px 8px 6px lightseagreen;

}

/*secion general*/

section {
    width: 100%;
/*    height: fit-content;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

}


section:nth-child(2n) {
    background-color: whitesmoke;
}


section:nth-child(2n + 1){
    background-color: white;
}

section:target{
    background-color: lightcyan;
/*    transition: 2s ease-in-out;*/
}

.section-heading {
    /*width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;*/
     width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}

.section-heading span {
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}


/*About Section*/

#about{
    height: auto;
    position: relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
    
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px floralwhite;
}

#about-para{
    padding: 10px;
    font-size: 1.1rem;
    width: 75%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color:black;
    line-height: 30px;
    font-weight: 100;
    
    
}

/*Skills section*/

.skills-display {

    width: 70%;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skill-progress{
    width: 9rem;
    height: 1.4rem;
    margin: 20px;
    background-color: lightgrey;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: inset 1px 1px 2px 1px black;
}

.skill-name{
    color: white;
    font-size: 1.4rem;
}

.skill-progress>div{
    border-radius: 20px 0 0 20px;
    box-shadow: 1px 1px 5px 2px #98989882
}

.skill-name span{
    color:white;
    font-size: 1.2rem;
    margin-left: 15px;

}


.skills-display .skill-progress{

    margin-top: 10vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
}


/* Common Margin Classes */
.mb75px {
    margin-bottom: 75px;
}

/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #FFA500;
}


/*Percentage Classes */

.eighty-five-percent{
    width: 85%;
    height: inherit;
}
.sixty-five-percent{
    width: 65%;
    height: inherit;
}
.fifty-percent{
    width: 50%;
    height: inherit;
}

/*Timeline Section*/

.timeline{
    position:relative;
    width: 75%;
/*    border: 2px solid black;*/

}

.timeline-box {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
/*    border: 2px solid black;*/
}

.timeline-box:nth-child(2n){
    left: 53%;
}

.timeline-divider{
    position: absolute;
    height: 80%;
    width: 0;
    border: 3px dashed grey;
    top: 9%;
    left: 50%;

}

.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 30%;
    right: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}
.timeline-box:nth-child(2n)::after{
    content: '';
    position: absolute;
    top: 30%;
    border-radius: 50%;
    height: 0.6rem;
    width: 0.6rem;
    background-color: red;
    left: -9.45%;
    z-index: 1;
}

.timeline-traveller{

    margin-top: -2vh;
    position: sticky;
    top:10%;
    transform: rotate(90deg);
    z-index: 2;

}

@media screen and (max-width:700px){

    .timeline-divider{
        left: 2%;
        height: 90%;
    }

    .timeline-box:nth-child(2n){
        left: 4.5% !important;
    }
    
    .timeline-box::after{
        left: -10% !important;
    }    



}

#address{
    font-size: 1.3rem;
    margin-top: -2rem;
}

#intro {
    margin-top: -1rem;
    font-size: 1rem;
}


#designation-m::after {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-image: url(images/moglix.png);
   
}

#designation-c::after {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-image: url(images/cn.png);
   
}

#designation-l::after {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: contain;
    margin-left: 3%;
    background-image: url(images/lavazza.svg);
   
}


/*Education section*/

#designation-b::after {
    content: '';
    display: inline-block;
    height: 23px;
    width: 150px;
    background-size: contain;
    margin-left: 3%;
    background-image: url(images/MAE.jpg);
   
}

#designation-s::after {
    content: '';
    display: inline-block;
    height: 25px;
    width: 50px;
    background-size: contain;
    margin-left: 3%;
    background-image: url(images/SCAN.jpg);
   
}

#designation-h::after {
    content: '';
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: contain;
    margin-left: 3%;
    background-image: url(images/ls.jpg);
   
}


/*contact*/

#contact {



    background-color: #0abcf9;
    background-image: linear-gradient(to right,#13226fe0, #5473a2e0, #434ba8e0);
    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    /*#2857a4*/
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}

#contact .social-icons li a i:hover{
/*    margin: 50%;*/
    box-shadow: 0px 0px 3px 3px lightseagreen;
    border-radius: 50%;

}


    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
    outline: none;
}

#Gototop:hover{
    
    background-color: greenyellow;
    border-radius: 10%;
}




/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}

.mb-blue {
    background-color: #2857a4;
}

.mb-orange {
    background-color: #ff5722;
}


.mb-teal {
    background-color: #009688;
}

.mb-light-purple {
    background-color: #93738c;
}

.m-blue {
    color: #2857a4;
}